@use '/src/default.scss';


$payb: 'paybooc-Bold';


$mainC: #cf3e58;
$mainActive: #b31a36;
$sub: #ae8689;
$bg: #fdf8f2;

.App{width: 1280px; height: 720px; background-color: $bg; position: relative; margin: 0 auto;}

.back{
    padding-left: 10px;
    height: 40px; line-height: 40px;
    font-family: $payb;
    background-color: $sub;
    color: #fff;
    font-size: 15px;

    p{
        display: inline;
        cursor: pointer;
    }
    svg{margin-right: 10px;}
}


.total{
    color: #fff;
    margin-bottom: 30px;

    p:nth-child(1){
        font-size: 20px;
    }
    p:nth-child(2){
        font-size: 24px;
        text-align: right;
    }
}

.Home{
    display: flex;
    justify-content: end;
    .carousel{
        width: 920px;

        .carousel-item{
            width: 920px;
            transition: .3s;
            
            img{width: 920px;}

            &:nth-child(1){background: #fefad4;}
            &:nth-child(2){background: linear-gradient(90deg,#f2c627,#d9c242,#91a83c);}
            &:nth-child(3){background: #e5dcca;}
            &:nth-child(4){background: #211a14;}
        }
        
        
        .carousel-control-prev,.carousel-control-next{
            
            .carousel-control-next-icon,
            .carousel-control-prev-icon{
                width: 70px;
                height: 100px;
                padding: 20px;
                background-position: center;
                background-size: 50px 50px;
                background-color: #000;
            }
        }
        
            .carousel-indicators{display: none;}
    }
    

    .logo{
        position: relative;
        width: 360px;
        padding-top: 150px;
        background-color: $sub;
        height: 720px;

        img{
            width: 300px;
            margin: 0 auto;
        }

        .intro_btn{        
            display: block;


            margin: 0 auto;
            background-color: #fff;
            border: none;
            
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                background-color: #fff;
            }
        
            span{
                display: block; margin: 5px 3px; padding: 10px 30px;
                font-size: 28px;
                border: 2px dashed $mainC;
                font-family: $payb;
                color: $mainC;
        
                svg{margin-left: 20px; margin-bottom: -5px;}
            }
        }

        img{
            width: 300px;
        }

    }//logo
}

.Menu{
    height: 100%;

        



    .menu_inner{
        display: flex;
        height: 680px;

        >ul.category{
            width: 130px;
            background-color: $bg;
            >li{
                text-align: center;
                padding: 10px 0;
    
                font-family: 'paybooc-Bold';
                color: $sub;
    
                &.on{
                    color: #fff;
                    background-color: #333;
                }
            }
        }////ul
    }


    .center{
        .menu.container{
            width: 800px;
            height: 100%;
            padding: 0;
            box-sizing: border-box;
        }

        .row{
            width: 100%; height: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 15px 0;
            flex-wrap: wrap;
            align-content: flex-start;
            background-color: #fff;
            
        }
        .col{
            margin-bottom: 10px;
            font-size: 14px;
            >div{
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
            }
            
        }

        p{
            
            text-align: center;
            &.name{
                color: $mainC;
                font-weight: bold;
                word-break: keep-all;
            }
        }
    }

    .right{
        width: 350px;
        position: relative;
        background-color: $mainC;

        h1{
            padding: 10px 10px 5px;
            font-size: 20px;
            font-family: $payb;
            color: #fff;
        }

        .order_cover{
            box-sizing: border-box;
            padding: 10px;

            .order_list{
                border-radius: 10px;
                background-color: #fff;
                height: 340px;
                overflow-y: scroll;
                &::-webkit-scrollbar{display: none;}
                

                li{
                    height: 85px;
                    box-sizing: border-box;
                    padding: 5px;
                    position: relative;
                    &:nth-child(2n){background-color: #eee;}

                    >div{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;

                        
                        button{
                            margin-right: 10px;
                            font-size: 0.75rem;
                            &:last-child{color: $mainC;}
                        }
                        
                        &:nth-child(2){
                            font-size: 0.75rem;
                        }
                    }//div
                }//li
            }//order_list
        }//order_cover

        .menu_btn{
            padding: 10px;
            font-family: $payb;

            .btn_cover{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
            button{
                display: block;
                padding: 0 10px;
                border-radius: 10px;
                
                &.delete{
                    height: 40px;
                    background-color: #fff;
                    color: $mainActive;
                    font-size: 15px;
                    margin-right: 50px;

                    svg{
                        margin-top: 7px;
                    }
                }
                &.pay{
                    background-color: #444;
                    color: #fff;
                    padding: 15px 10px;
                    font-size: 24px;

                    svg{margin-right: 20px;}

                    } ///pay
                }//button
                
            }//btn_cover


        }////menu_btn
    }//bottom
}

.Option{
    h2{
        font-family: $payb;
        font-size: 20px;
        margin: 10px auto 5px;

        span{
            margin-left: 10px;
            font-size: 20px;
        }
    }

    .opt_cover{
        display: flex;
        >div:nth-child(1){width: 860px;}
    }
    
    
    .info{
        position: relative;
        height: 150px;
        display: flex;
        background-color: #fff;

        >div{
            box-sizing: border-box;
        }

        .info_img{
            width: 140px;
            padding: 0px 15px;

            img{width: 100%;}
        }

        .info_txt{
            width: 710px;
            padding: 10px;
            padding-right: 50px;
            >div{
                display: flex;
                justify-content: space-between;

                margin-top: 10px;
                font-size: 24px;
                font-family: $payb;

                p:nth-child(2){color: $mainActive;}                
            }//div
            >p{
                color: $sub; font-size: 0.75rem;

                &:last-child{
                    margin-top: 30px;
                    text-align: right;
                }
            }
        }//info_txt

        .all_clear{
            font-size: 0.75rem;
            padding: 5px 10px;
            color: $mainC;
            border: 1px solid $mainC;
            border-radius: 10px;
            
        }
    }//info

    .select_cover{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;        


        .select{
            width: 400px;
            margin-bottom: 20px;
            padding: 0 10px;

            &:nth-child(2){margin-bottom: 0;}

            input[type=radio],input[type=checkbox]{display: none;}

            &.select_topping label img{margin: -5px auto 0; width: 90%;}

            >ul{
                display: flex;
                flex-wrap: wrap;

                li{
                    width: 120px; height: 130px;
                    padding: 0 5px;
                    margin-bottom: 10px;
                    position: relative;
                    &:last-child{margin-right: 0;}

                    svg{font-size: 50px; margin: 10px 0 11px;
                    }

                    label{
                        width: 100%; height: 100%;
                        padding: 15px;
                        background-color: #fff;
                        border: 2px solid #fff;
                        border-radius: 5px;

                        font-size: 0.75rem;
                        &.checked{
                            color: $mainActive;
                            border: 2px solid $mainActive;
                        }
                        
                    }
                }
                p{
                    text-align: center;
                    font-family: $payb;
                }//p
            }//ul
        }}//select            


    .item_total{
        padding: 20px;
        width: 420px; height: 680px;
        background-color: $mainC;    
        
        h2{
            padding: 0 10px 10px;
            font-size: 24px;
            font-family: $payb;
            color: #fff;
        }
        
        .now_option{
            width: 100%;
            padding: 0 10px 30px;

            ul{
                width: 100%;
                border-radius: 5px;
                background-color: #fff;
                overflow: hidden;

                li{
                    padding: 5px;
                    &:nth-child(2n){
                        background-color: #eee;
                    }

                    span{margin-right: 10px;}
                }
            }
        }//now_option

        .order_detail{
            padding: 0 20px;
            font-family: $payb;
            
            h4{
                font-size: 20px;
                color: #fff;
                margin-bottom: 5px;
            }

            .quantity{
                color: #fff;
                margin-bottom: 30px;
                >p{display: flex;}
                button{
                    font-size: 20px;
                    &:last-child{margin-left: 1px;}
                }
                .now_quant{
                    font-size: 28px;
                    width: 100px;
                    text-align: center;

                }
            }

            .btn_cover{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
            }
            button{
                display: block;
                border-radius: 10px;

                &.add_other{
                    padding: 5px 10px;
                    background-color: #fff;
                    color: $mainC;
                    border: 3px solid $mainC;
                    margin-right: 20px;
                    font-size: 15px;
                }

                &.pay{
                    font-size: 24px;
                    background-color: #444;
                    color: #fff;
                    padding: 15px 20px;

                    svg{margin-right: 10px;}
                }
            }//button

        }//order_detail

    }//item_total





    

}

.pay_js{
    .pay_inner{
        display: flex;
        height: 680px;
    }

    .pay_left{
        width: 930px;
        padding: 10px;
        box-sizing: border-box;
        h1{
            padding: 5px 5px 10px;
            font-size: 28px;
            font-family: $payb;
        }

    }
    .pay_list{
        width: 860px; height: 600px;
        margin: 0 auto 15px;
        overflow-y: scroll;
        &::-webkit-scrollbar{display: none;}

        border: 3px solid $mainC;
        box-sizing: content-box;


        li{
            background-color: #fff;
            box-sizing: border-box;
            height: 150px;
            padding: 10px;

            border-bottom: 1px dashed $mainC;

            &:last-child{border-bottom: 0px;}
        }

        li>div{
            display: flex;

            >div:nth-child(1){
                width: 100px;
                margin-right: 20px;
            } //img

            >div:nth-child(2){
                width: 720px;
            }

            .info_top{
                font-size: 24px;
                font-family: $payb;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
            }
            .selected_opt{
                position: relative;
                display: flex;
                justify-content: space-between;

                span{
                    padding-right: 5px;
                }

                .button_cover{
                    margin-top: 30px;

                    button{
                        padding: 5px 10px;
                        border: 1px solid $mainC;
                        border-radius: 15px;
                        &:nth-child(1){margin-right: 10px;}
                    }
                }
            }//selected_opt
        }//li>div
    }//pay_list


    .pay_right{
        width: 350px;
        padding: 150px 30px 0;
        box-sizing: border-box;
        background-color: $mainC;
    }
    .pay_total{
        margin-bottom: 30px;
        
        p:nth-child(1){
            font-size: 24px;
            font-family: $payb;
            color: #fff;

            span{font-size: 28px; padding-left: 5px;}
        }
        p:nth-child(2){
            color: #dfdfdf;

            &.on{
                color: #fff;
            }
        }
    }//pay_total

    .membership{
        font-size: 24px;
        text-align: center;

        button{
            width: 220px; 
            border: 3px solid #333;
            border-radius: 3px;
            margin: 0 auto;
            padding: 10px 0;

            &:nth-child(1){
                background-color: #fff;
                border-color: $mainC;
                color: $mainC;
                font-size: 20px;
                margin-bottom: 30px;
            }

            &:nth-child(2){
                background-color: $mainC;
                border-color: $mainC;
                background-color: #444;
                color: #fff;
            }
        }
        
    }

}//pay_js

    .m_modal{
        .modal-content{
            width: 550px;
        }

        .modal-title{
            font-family: $payb;
        }

        input{
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
        button{
            border-radius: 10px;
            padding: 10px 25px;
        }

        .m_ok{
            background-color: $mainC;
            border: 1px solid $mainC;
            margin-right: 30px;
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                border: 1px solid $mainActive;
                background-color: $mainActive;
            }
        }

        .m_no{
            background-color: #fff;
            color: $mainC;
            border: 1px solid $mainC;
            margin-right: 30px;
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                background-color: #eee;
                border: 1px solid $mainActive;
            }
        }
    }
