@use '/src/default.scss';

body{background-color: #eee;}

.back{
    padding-left: 10px;
    height: 40px; line-height: 40px;
    font-family: default.$payb;
    background-color: default.$sub;
    color: #fff;

    p{
        display: inline;
        cursor: pointer;
    }
    svg{margin-right: 10px;}
}


.total{
    color: #fff;
    margin-bottom: 20px;

    p:nth-child(1){
        font-size: 1.25rem;
    }
    p:nth-child(2){
        font-size: 1.5rem;
        text-align: right;
    }
}

.Home{
    display: flex;
    .carousel{
        width: 720px;

        .carousel-item{
            transition: .3s;

            >div{width: 720px;}

            &:nth-child(1){background: #fefad4;}
            &:nth-child(2){background: linear-gradient(90deg,#f2c627,#d9c242,#91a83c);}
            &:nth-child(3){background: #e5dcca;}
            &:nth-child(4){background: #211a14;}
        }
        
        .carousel-control-prev,.carousel-control-next{
            
            .carousel-control-next-icon,
            .carousel-control-prev-icon{
                width: 70px;
                height: 100px;
                padding: 20px;
                background-position: center;
                background-size: 50px 50px;
                background-color: #000;
            }
        }
        
            .carousel-indicators{display: none;}
    }
    

    .logo{
        position: relative;
        width: 560px;
        background-color: default.$bg;
        padding-top: 150px;

        img{
            width: 300px;
            margin: 0 auto;
        }

        .intro_btn{        
            display: block;


            margin: 0 auto;
            background-color: default.$mainC;
            border: none;
            
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                background-color: default.$mainActive;
            }
        
            span{
                display: block; margin: 5px 3px; padding: 10px 30px;
                font-size: 1.75rem;
                border: 2px dashed #fff;
                font-family: 'paybooc-Bold';
        
                svg{margin-left: 20px; margin-bottom: -5px;}
            }
        }

        img{
            width: 300px;
        }

    }//logo
}

.Menu{
    height: 100%;
    background-color: default.$bg;

        



    .menu_inner{
        display: flex;
        height: 680px;

        >ul.category{
            width: 130px;
            >li{
                text-align: center;
                padding: 10px 0;
    
                font-family: 'paybooc-Bold';
                color: default.$sub;
    
                &.on{
                    color: #fff;
                    background-color: #333;
                }
            }
        }////ul
    }


    .center{
        .menu.container{
            width: 760px;
            height: 100%;
            padding: 0;
            box-sizing: border-box;
        }

        .row{
            width: 100%;
            margin: 0;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        .col{
            margin-bottom: 10px;
            font-size: 0.9rem;
            >div{
                background-color: #fff;
                border-radius: 5px;
                overflow: hidden;
            }
            
        }

        p{
            
            text-align: center;
            &.name{
                color: default.$mainC;
                font-weight: bold;
                word-break: keep-all;
            }
        }
    }

    .right{
        width: 390px;
        position: relative;
        background-color: default.$mainC;

        h1{
            padding: 10px 10px 5px;
            font-size: 1.25rem;
            font-family: default.$payb;
            color: #fff;
        }

        .order_cover{
            box-sizing: border-box;
            padding: 10px;

            .order_list{
                border-radius: 10px;
                background-color: #fff;
                overflow-y: scroll;
                &::-webkit-scrollbar{display: none;}

                li{
                    height: 82px;
                    box-sizing: border-box;
                    padding: 5px;
                    position: relative;
                    &:nth-child(2n){background-color: #eee;}

                    >div{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;

                        
                        button{
                            margin-right: 10px;
                            font-size: 0.75rem;
                            &:last-child{color: default.$mainC;}
                        }
                        
                        &:nth-child(2){
                            font-size: 0.75rem;
                        }
                    }//div
                }//li
            }//order_list
        }//order_cover

        .menu_btn{
            padding: 10px;
            font-family: default.$payb;

            .btn_cover{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
            button{
                display: block;
                padding: 0 10px;
                border-radius: 10px;
                
                &.delete{
                    height: 40px;
                    background-color: #fff;
                    color: default.$mainActive;
                    font-size: 0.9rem;
                    margin-right: 100px;

                    svg{
                        margin-top: 7px;
                    }
                }
                &.pay{
                    background-color: #444;
                    color: #fff;
                    padding: 15px 10px;
                    font-size: 1.5rem;

                    } ///pay
                }//button
                
            }//btn_cover


        }////menu_btn
    }//bottom
}

.Option{
    h2{
        font-family: default.$payb;
        font-size: 1.25rem;
        margin: 10px auto 5px;

        span{
            margin-left: 10px;
            font-size: 1.25rem;
        }
    }

    .opt_cover{
        display: flex;
        >div:nth-child(1){width: 980px;}
    }
    
    
    .info{
        position: relative;
        height: 150px;
        display: flex;
        background-color: #fff;

        >div{
            box-sizing: border-box;
            padding: 15px;
        }

        .info_img{
            width: 140px;

            img{width: 100%;}
        }

        .info_txt{
            >div{
                display: flex;
                justify-content: space-between;

                margin-top: 10px;
                font-size: 1.5rem;
                font-family: default.$payb;

                p:nth-child(2){color: default.$mainActive;}                
            }//div
            >p{color: default.$sub; font-size: 0.75rem;}
        }//info_txt

        .all_clear{
            font-size: 0.75rem;
            position: absolute;
            bottom: 20px; right: 10px;
            padding: 5px 10px;
            color: default.$mainC;
            border: 1px solid default.$mainC;
            border-radius: 10px;
        }
    }//info

    .select_cover{
        padding: 0 10px;

        


        .select{
            height: 160px;

            input[type=radio],input[type=checkbox]{display: none;}


            >ul{
                display: flex;
                li{
                    width: 100px; height: 110px;
                    box-sizing: border-box;
                    position: relative;
                    margin-right: 10px;
                    &:last-child{margin-right: 0;}

                    svg{font-size: 40px; margin: 10px 0 11px;}

                    label{
                        width: 100%; height: 100%;
                        padding: 10px 20px;
                        background-color: #fff;
                        border: 2px solid #fff;
                        border-radius: 5px;

                        font-size: 0.75rem;
                        &.checked{
                            color: default.$mainActive;
                            border: 2px solid default.$mainActive;
                        }
                        
                    }
                }
                p{
                    text-align: center;
                    font-family: default.$payb;
                }//p
            }//ul
        }}//select

        .select_center{
            display: flex;
            >div:nth-child(1){margin-right: 50px;}
        }
            


    .item_total{
        padding: 20px 0px;
        width: 390px; height: 680px;
        background-color: default.$mainC;    
        
        h2{
            padding: 0 10px 10px;
            font-size: 1.75rem;
            font-family: default.$payb;
            color: #fff;
        }

        >div{display: flex;}

        
        .now_option{
            width: 590px;
            padding: 0 10px;

            ul{
                border-radius: 10px;
                background-color: #fff;
                overflow: hidden;

                li{
                    font-size: 1.25rem;
                    padding: 10px 5px;
                    &:nth-child(2n){
                        background-color: #eee;
                    }

                    span{margin-right: 20px;}
                }
            }
        }//now_option

        .order_detail{
            width: 490px;
            padding: 0 20px;
            font-family: default.$payb;
            
            h4{
                font-size: 1.25rem;
                color: #fff;
            }

            .quantity, .total, .btn_cover{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .quantity{
                color: #fff;
                >p{display: flex;}
                button{
                    font-size: 1.25rem;
                    &:last-child{margin-left: 1px;}
                }
                .now_quant{
                    font-size: 1.75rem;
                    width: 100px;
                    text-align: center;

                }
            }

            
            button{
                display: block;
                border-radius: 10px;

                &.add_other{
                    font-size: 1.25rem;
                    padding: 0 10px;
                    background-color: #fff;
                    color: default.$mainC;
                    border: 3px solid default.$mainC;
                    height: 60px;
                    line-height: 60px;
                }

                &.pay{
                    font-size: 1.75rem;
                    background-color: #444;
                    color: #fff;
                    padding: 25px 40px;
                }
            }//button

        }//order_detail

    }//item_total





    

}

.pay_js{
    .pay_inner{
        width: 950px; margin: 0 auto;
    }
    h1{
        padding: 0 5px;
        margin: 30px 0 10px;
        font-size: 2rem;
        font-family: default.$payb;
    }
    .pay_list{
        width: 950px; height: 900px;
        margin-bottom: 15px;
        overflow-y: scroll;
        &::-webkit-scrollbar{display: none;}

        border: 3px solid default.$mainC;
        box-sizing: content-box;


        li{
            background-color: #fff;
            box-sizing: border-box;
            height: 150px;
            padding: 10px;

            &:nth-child(2n){background-color: #eee;}
        }

        li>div{
            display: flex;

            >div:nth-child(1){
                width: 110px;
                margin-right: 20px;
            } //img

            >div:nth-child(2){
                width: 800px;
            }

            .info_top{
                font-size: 1.25rem;
                font-family: default.$payb;
                display: flex;
                justify-content: space-between;
            }
            .selected_opt{
                position: relative;
                display: flex;
                justify-content: space-between;

                span{
                    padding-right: 5px;
                }

                .button_cover{
                    margin-top: 30px;

                    button{
                        padding: 5px 10px;
                        border: 1px solid default.$mainC;
                        border-radius: 15px;
                        &:nth-child(1){margin-right: 10px;}
                    }
                }
            }//selected_opt
        }//li>div
    }//pay_list

    .pay_total{
        text-align: right;
        margin-bottom: 30px;
        
        p:nth-child(1){
            font-size: 1.5rem;
            font-family: default.$payb;
            color: default.$mainActive;

            span{font-size: 2rem; padding-right: 5px;}
        }
        p:nth-child(2){
            color: #555;

            &.on{
                color: default.$mainActive;
            }
        }
    }//pay_total

    .membership{
        font-size: 1.75rem;
        text-align: center;

        button{
            width: 220px; height: 80px;
            border: 3px solid #333;
            padding: 10px 0;
            border-radius: 3px;

            &:nth-child(1){
                margin-right: 100px;
                background-color: #fff;
                border-color: default.$mainC;
                color: default.$mainC;
            }

            &:nth-child(2){
                background-color: default.$mainC;
                border-color: default.$mainC;
                color: #fff;
            }
        }
        
    }

}//pay_js

    .m_modal{
        .modal-content{
            width: 550px;
        }
        input{
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
        button{
            border-radius: 10px;
            padding: 10px 25px;
        }

        .m_ok{
            background-color: default.$mainC;
            border: 1px solid default.$mainC;
            margin-right: 30px;
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                border: 1px solid default.$mainActive;
                background-color: default.$mainActive;
            }
        }

        .m_no{
            background-color: #fff;
            color: default.$mainC;
            border: 1px solid default.$mainC;
            margin-right: 30px;
            &:hover,&.btn:active,:not(&.btn-check)+&.btn:active,&.btn:focus-visible{
                background-color: #eee;
                border: 1px solid default.$mainActive;
            }
        }
    }
