@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{font-size: 16px;}
body{font-size: 16px;font-family: 'Noto Sans KR'; color: #333;}

$payb: 'paybooc-Bold';


$mainC: #cf3e58;
$mainActive: #b31a36;
$sub: #ae8689;
$bg: #fdf8f2;

/* 세팅 */
*,ul,ol,p,h1,h2,h3,h4,h5,h6, ul, li, a{
    margin: 0;padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}

img{width: 100%; display: block;}
button{
    border: none;
    background: none;
    font-family: $payb;
}


.App{width: 1280px; height: 720px; background-color: $bg; position: relative; margin: 0 auto; background-color: #ddd;}


.container{
    width: 1280px;
    position: relative;
    .row{width: 1280px;}
    .col{padding: 0 5px;}
}

input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }