@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



/* μ„Έν… */
*,ul,ol{margin: 0;padding: 0; font-family: 'Noto Sans KR';}

h1,h2,h3,h4,h5,h6,li,a{font-size: inherit; font-weight: inherit;color: inherit;text-decoration: inherit;list-style: none;}

img{width: 100%; display: block;}
.App{width: 1080px; height: 1920px; background-color: #eee; position: relative; margin: 0 auto;}

$mainC: #cf3e58;
$mainActive: #b31a36;


