@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{font-size: 20px;}
body{font-size: 20px;font-family: 'Noto Sans KR'; color: #333;}

$payb: 'paybooc-Bold';

/* μ„Έν… */


*,ul,ol,p,h1,h2,h3,h4,h5,h6, ul, li{
    margin: 0;padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}

img{width: 100%; display: block;}
.App{width: 1080px; height: 1920px; background-color: #eee; position: relative; margin: 0 auto;}

$mainC: #cf3e58;
$mainActive: #b31a36;
$sub: #ae8689;

.container{
    width: 1080px;
    .row{width: 1080px;}
    .col{padding: 0 5px;}
}

